<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="utf-8" />
  <title>常用网址</title>
  <meta name="description" content="常用网址" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- for ios 7 style, multi-resolution icon of 152x152 -->
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent" />
  <meta name="apple-mobile-web-app-title" content="Flatkit" />
  <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
  <meta name="mobile-web-app-capable" content="yes" />
  <link rel="icon" type="image/x-icon" href="https://dashboard.cpolar.com/static/img/favicon.ico" />

  <!-- 开发环境版本，包含了有帮助的命令行警告 -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <script src="./vue.min.js"></script>
  <!-- <script src="https://cdn.bootcss.com/axios/0.18.1/axios.min.js"></script> -->
  <script src="./axios.min.js"></script>
  <style type="text/css">
    html {
      font-size: 1.1px;
    }

    body {
      margin: 0;
    }

    .tg-title {
      font-family: Playfair Display, serif;
    }

    .tgn-c {
      text-align: center;
    }

    .test-link {
      display: block;
      flex: 1;
      /*border-bottom: 1px solid currentColor;*/
    }

    .main {
      width: 1600px;
      max-width: 92vw;
      font-size: 12rem;
      margin: 0 auto;
    }

    .items {
      border: 1px solid #d9d9d9;
      padding: 0;
      font-size: 18rem;
      display: flex;
      flex-wrap: wrap;
    }

    .item {
      background: #efefff;
      padding: 0 10px;
      line-height: 2.2;
      display: flex;
      margin-right: 0.8em;
      margin-bottom: 0.6em;
    }

    .item:nth-of-type(even) {
      /* background: #efef; */
      background: #def0d8;
    }

    .main .item:hover {
      background: #ccff66;
    }

    a:hover {
      cursor: pointer;
    }

    .flex {
      display: flex;
      flex-wrap: wrap;
    }

    .flex-1 {
      flex: 1;
    }

    .item-right {
      width: 360px;
      margin: 1em;
    }

    .paper {
      margin: 0;
    }

    .paper dl,
    dd {
      margin: 0;
    }

    .paper .content {
      min-height: 50px;
      padding-left: 1.8em;
      padding-right: 0.8em;
      font-size: 15rem;
    }

    .c-label {
      display: inline-block;
      width: 110px;
    }

    .mgb-1 {
      margin-bottom: 7px;
    }

    .ny-img {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }

    @media (max-width: 600px) {
      .main {
        width: 100%;
      }
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="main" v-if="status == 'dc' && !onlyImg">
      <h1 class="tgn-c tg-title">常用网址 - 06书签</h1>
      <div class="flex">
        <ul class="items flex-1">
          <li class="item" v-for="(el,i) in markDev" :key="'homeL4' + i">
            <a class="test-link" @click="openUrl(el.url)">{{i+1}}.{{el.name}}</a>
          </li>
        </ul>
        <div class="item-right">
          <dl class="paper a2" style="left: 454px; top: 204px; z-index: 101">
            <dt class="title"></dt>
            <dd class="content">
              <div class="text-title">{{encourage}}</div>
            </dd>
            <dd class="bottom"><span class="time"></span></dd>
          </dl>
        </div>
      </div>

      <div class="flex">
        <input style="width: 100%" type="text" v-model="num" />
        <div class="flex-1">
          <p><input type="text" v-model="text1" /></p>
          <button @click="text1Fn">点击</button>
        </div>
      </div>
    </div>

    <div v-if="!onlyImg" style="font-size: 14px">
      <div class="mgb-1">
        <span class="c-label">姓名</span><input type="text" v-model="realName" @blur="saveInfo('realName')" />
      </div>
      <div class="mgb-1">
        <span class="c-label">性别</span><input type="text" v-model="gender" @blur="saveInfo('gender')" />
      </div>
      <div class="mgb-1">
        <span class="c-label">手机号码</span><input type="text" v-model="phone" @blur="saveInfo('phone')" />
      </div>
      <div class="mgb-1">
        <span class="c-label">识别码</span><input type="text" v-model="assignNum" @blur="saveInfo('assignNum')" />
      </div>
      <div>
        <span class="c-label">身份信息</span><input type="text" v-model="idNum" @blur="saveInfo('idNum')" />
      </div>
      <p>
        <button @click="fullSreen">生成</button>
      </p>
    </div>
    <canvas id="myCvs" :width="clientW" :height="clientH"></canvas>
  </div>
  <script type="text/javascript">
    var app = new Vue({
      el: '#app',
      data() {
        return {
          clientW: 1080,
          clientH: 2340,
          num: '12',
          text1: '',
          encourage: '加油💪💪💪',
          markDev: [
            {
              url: 'https://zsxq.com/',
              name: '知识星球',
            },
            {
              url: 'https://time.geekbang.org/',
              name: '极客时间',
            },
            {
              url: 'https://docs.qq.com/doc/DUEJ3elZKa2daWmhL',
              name: '腾讯-云文档-main',
            },
          ],
          ctx: null,
          realName: '',
          gender: '男',
          phone: '',
          assignNum: '',
          idNum: '',
          dateStr: '',
          status: '',
          defaultInfo: {
            img: 'test1.webp',
            clientW: 1080,
            clientH: 2280,
            pos: [
              669,
              this.calcNum(598),
              this.calcNum(656),
              this.calcNum(713),
            ],
            font: [
              `600 ${40}px bold`,
              `600 ${32}px bold`,
              `600 ${32}px bold`,
              `600 ${35}px bold`,
            ],
          },
          showImage: false,
          onlyImg: false,
        };
      },
      methods: {
        saveInfo(key) {
          localStorage.setItem(key, this[key]);
        },
        openUrl(url) {
          // a标签的target属性值
          // _blank _self _parent _top
          // 打开页面
          window.open(url, '_blank');
          // location.href = url;
          // location.replace(url);
          // location.assign(url);
        },
        text1Fn() {
          let num = Number(this.num);
          let res = [];
          let resVal = [];
          let splitStr = ' ';
          this.text1 = this.text1.replace(/，/g, ',');
          if (this.text1.includes(',')) {
            splitStr = ',';
          }
          const dict = JSON.parse(localStorage.getItem('dict1'));
          const leng = Object.values(dict).length;
          res = this.text1
            .trim()
            .split(splitStr)
            .filter((e) => e)
            .map((k) => dict[k]);
          for (let cur = 1; cur < res.length; cur = cur + 2) {
            let tmp = Number(res[cur]);
            let tmp2 = Number(res[cur - 1]);
            resVal.push((tmp2 - 1) * leng + tmp);
          }
          resVal = resVal.map((e) => (e % num > 0 ? e % num : num));
          console.log('resVal is: ' + resVal.toString());
          alert(resVal);
        },
        fullSreen() {
          this.ctx.clearRect(0, 0, this.clientW, this.clientH);
          this.drawPicture();
          const el = document.getElementById('myCvs');
          var rfs = el.requestFullScreen || el.webkitRequestFullScreen || el.mozRequestFullScreen || el.msRequestFullScreen,
            wscript;

          if (typeof rfs != "undefined" && rfs) {
            rfs.call(el);
          } else if (typeof window.ActiveXObject != "undefined") {
            wscript = new ActiveXObject("WScript.Shell");
            if (wscript) {
              wscript.SendKeys("{F11}");
            }
          } else {
            this.onlyImg = true
          }
        },
        drawText(str, x, y, font) {
          const ctx = this.ctx;
          ctx.textBaseLine = 'middle';
          ctx.font = font || `600 ${53}px bold`;
          ctx.fillText(str, x || 0, y || 0);
        },
        drawArea(str, x, y, font) {
          ctx = this.ctx;
          ctx.textBaseLine = 'middle';
          const fillStyle = ctx.fillStyle;
          ctx.fillStyle = '#FFFFFF';
          const { fontBoundingBoxAscent, width } = this.measureText(
            str,
            font
          );
          const addNum = fontBoundingBoxAscent * 0.08;
          if (x == 'center') {
            x = this.clientW / 2 - width / 2;
          }
          // ctx.fillRect(
          //   x - addNum / 2,
          //   y - addNum / 2,
          //   width + addNum,
          //   fontBoundingBoxAscent + addNum
          // );
          ctx.fillRect(
            x - addNum / 2 - 20,
            y - addNum / 2,
            width + addNum + 40,
            fontBoundingBoxAscent + addNum
          );
          ctx.fillStyle = fillStyle;
          this.drawText(str, x, y + fontBoundingBoxAscent * 0.85, font);
        },
        measureText(str, font) {
          this.ctx.font = font || `600 ${53}px bold`;
          return this.ctx.measureText(str);
        },
        generateNum(num) {
          let arr = [];
          const _date = new Date()
          let timeStampStr = Date.now().toString()
          let first = (_date.getFullYear() + _date.getMonth() + 1 + _date.getDate() + timeStampStr[3] + timeStampStr[4]) % 9;
          if (first < 1) {
            first = ([1, 2, 4, 5, 6, 7, 8])[rnd(6)]
          }
          arr = [first]
          arr.push(timeStampStr[5])
          arr.push(timeStampStr.slice(-7)[0])
          arr.push(timeStampStr.slice(-4)[0])
          arr.push(timeStampStr.slice(-5)[0])
          arr.push(timeStampStr.slice(-6)[0])
          arr.push(timeStampStr.slice(-1)[0])
          arr.push(timeStampStr.slice(-2)[0])
          timeStampStr = Date.now().toString()
          arr.push(timeStampStr.slice(-rnd(12))[0])
          while (arr.length < num) {
            const tmp = Math.round(Math.random() * 8 + 1);
            if (rnd(9) > 3 && (rnd(100) > 81 || tmp != arr.slice(-1)[0])) {
              arr.push(tmp);
            }
          }
          return arr.join('');
        },
        drawPicture() {
          document.title = '预约成功'
          const ctx = this.ctx;
          const img = new Image();
          img.onload = () => {
            ctx.drawImage(
              img,
              0,
              0,
              this.clientW,
              (this.clientH / this.clientW) * this.clientW
            );
            this.chunkDraw();
          };
          img.src = this.defaultInfo.img;
        },
        chunkDraw() {
          const ctx = this.ctx;
          this.drawArea(
            [this.realName, this.gender, this.phone].join(' '),
            'center',
            this.defaultInfo.pos[0],
            this.defaultInfo.font[0]
          );
          this.drawArea(this.assignNum, 'center', this.defaultInfo.pos[1], this.defaultInfo.font[1]);

          this.drawArea(
            '三牌楼校区 ' + this.dateStr,
            'center',
            this.defaultInfo.pos[2],
            this.defaultInfo.font[2]
          );
          this.drawArea(this.idNum.slice(0, 4) + 'XXXXXXXX' + this.idNum.slice(-4), 'center', this.defaultInfo.pos[3], this.defaultInfo.font[3])
        },
        calcNum(num) {
          return Math.round(1080 / 390 * num)
        },
        initBooking(name) {
          this.status = name
          const cfg = {
            zc: {
              img: 'test2.webp',
              clientW: 1080,
              clientH: 2340,
              pos: [
                650,
                this.calcNum(586),
                this.calcNum(641),
                this.calcNum(696),
              ],
              font: [
                `600 ${38}px bold`,
                `600 ${34}px bold`,
                `600 ${32}px bold`,
                `600 ${35}px bold`,
              ],
            }
          }
          if (cfg[name]) {
            this.defaultInfo = cfg[name]
          }
          this.clientH = this.defaultInfo.clientH
          this.clientW = this.defaultInfo.clientW
        },
      },
      created() {
        let urlParams = new URLSearchParams((location.search).replace('?', ''))
        this.initBooking(urlParams.get('n'))
        const _date = new Date();
        this.dateStr = [
          _date.getFullYear(),
          ('0' + (_date.getMonth() + 1)).slice(-2),
          ('0' + _date.getDate()).slice(-2),
        ].join('-');
        // this.clientH = document.documentElement.clientHeight;
        // this.clientW = document.documentElement.clientWidth;
        let itemArr = ['realName', 'gender', 'phone', 'idNum'];
        let ds = localStorage.getItem('dateStr');
        if (ds !== this.dateStr) {
          this.assignNum = this.generateNum(12);
        } else {
          itemArr.push('assignNum');
        }
        localStorage.setItem('dateStr', this.dateStr);
        itemArr.forEach((e) => {
          const tmp = localStorage.getItem(e);
          if (tmp) {
            this[e] = tmp;
          }
        });
        !this.assignNum && (this.assignNum = this.generateNum(12));
        localStorage.setItem('assignNum', this.assignNum)
      },
      mounted() {
        this.markDev = this.markDev.map((e) => {
          return typeof e == 'string' ? { url: e, name: e } : e;
        });
        const ctx = document.getElementById('myCvs').getContext('2d');
        this.ctx = ctx;
        this.drawPicture();
      },
    });

    function rnd(max, min) {
      min = min || 0;
      let c = (v = Math.round(Math.random() * (max - 1) + min));
      for (; c > 0; c--) {
        v = Math.round(Math.random() * (max - 1) + min);
      }
      return v;
    }
  </script>
</body>

</html>